<header>
<nav>
	<ul>
		<li><a href="/">Index</a></li>
		<li><a href="/populate">Populate BD</a></li>
		<li><a href="/loadRS">Load Recommendation System</a></li>
		<li><a href="/recommendedPeripheralsUser">Recommend Peripherals to Users - User Based</a></li>
		<li><a href="/recommendedPeripheralsItems">Recommend Peripherals to Users - Item Based</a></li>
		<li><a href="/recommendedHybridPeripherals">Recommend Peripherals to Users - Hybrid Based</a></li>
		<li><a href="/similarPeripherals">Most Similar Peripherals</a></li>
		<li><a href="/recommendedUsersPeripherals">Recommend Users to a Peripheral</a></li>
		<li><a href="/search">Peripherals rated by Users</a></li>
	</ul>
</nav>
</header>