<html>
<head>
    <title>Babidepupi Recommendation System</title>
</head>

{% include 'style.html' %}
<body>
<div class="container">

    <header>
        <h2><a href="index.html"><i class="ion-plane"></i>Babidepupi - Peripherals Recommendation Systems</a></h2>
    </header>

    <div class="cover">
        <h1>Welcome to Babidepupi</h1>
        <form method="POST" action="/census/web/add" class="flex-form"> {% csrf_token %}
            <label for="from">
                <i class="ion-location"></i>
            </label>
                <select class="" id="select-recommendation-type" required>
                    <option name="users" value="">Users Based</option>
                    <option name="items" value="">Item Based</option>
                    <option name="hybrid" value="">Hybrid Based</option>
                </select>
            <label for="from">
                <i class="ion-location"></i>
            </label>
            <input type="search" placeholder="Username">
            <input type="submit" value="Search">
        </form>
    </div>
</div>
</body>
</html>