<html>
<head>
    <title>Babidepupi Recommendation System</title>
</head>

{% include 'style.html' %}
<body>
<div class="container">

    <header>
        <h2><a href="index.html"><i class="ion-plane"></i>Babidepupi - Peripherals Recommendation Systems</a></h2>
        <nav>
            <ul>
                <li>
                    <a href="/populate/">Populate Data Base</a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="cover">
        <h1>Welcome to Babidepupi</h1>
        {% if msg %}
        <div>
            <p>{{msg}}</p>
        </div>
        {% endif %}
        <form method="POST" action="/vista2/" class="flex-form"> {% csrf_token %}
            <label for="from">
                <i class="ion-location"></i>
            </label>
            <select name="select-recommendation-type" class="" id="select-recommendation-type" required>
                <option name="users" value="users">Users Based</option>
                <option name="items" value="items">Item Based</option>
                <option name="hybrid" value="hybrid">Hybrid Based</option>
            </select>
            <label for="from">
                <i class="ion-location"></i>
            </label>
            <input type="search" name="username" placeholder="Username">
            <input type="submit" value="Search">
        </form>
    </div>
</div>
</body>
</html>