<html>
<head>
<title>Babidepupi</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

{% include 'style.html' %}
</head>
<body>


<div class="container">
<header>
        <h2><a href="index.html"><i class="ion-plane"></i>Babidepupi - Peripherals Recommendation Systems</a></h2>
</header>
<div class="cover">
        <h1>Recommended items for {{user}}</h1>
    <div class="well well-sm">
        <strong>Display</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
    </div>
    <div id="products" class="row list-group">
    {% for item in items %}
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src="{{item.image}}" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        {{item.name}}</h4>
                    <p class="group inner list-group-item-text">
                        Brand: {{item.brand}} <br/> Rating: {{item.stars}}/5</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                {{item.price}}</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="/similarPeripherals/{{item.id}}">Find similar peripherals</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <div>No peripherals selected</div>
        {% endfor %}
    </div>
    </div>
</div>

</body>

<script type = "text/javascript">
    $(document).ready(function() {
    $('#list').click(function(event){event.preventDefault();$('#products .item').addClass('list-group-item');});
    $('#grid').click(function(event){event.preventDefault();$('#products .item').removeClass('list-group-item');$('#products .item').addClass('grid-group-item');});
});
</script>
</html>